extends layout 

block append styles
  link(rel="stylesheet", href="/css/index.css")

block content
  - var title = "selam"

  #container

    div Yaşım #{age}, ismim #{name}

    if name === 'Mehmet'
      div name: #{name}
    else
      div name mehmet değil

    if isLogin
      div Hoş geldiniz.
    else
      div Giriş yapın.

    h2 #{title}

    ul
      each val in friends
        li #{val.id} - #{val.name}

    h1 #{name}
    p #{job}
    p #{info.age}
    br
    img(src="https://picsum.photos/200/200")
    .content
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci asperiores magni nesciunt odio iste aliquid mollitia nisi corrupti sunt rerum, veritatis dicta consequuntur libero id reprehenderit, qui neque dolorum laborum?

    //- include footer


block javascripts
  script(src="/js/index.js")